<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div>
      <img mat-card-image src="/assets/img/logo_gorila.svg" alt="Gorila logo" width="100" style="cursor: pointer;">
    </div>
    <span class="space"></span>
    <button mat-icon-button>
      <img src="/assets/img/botao_usuario_area_logada.svg" alt="Área Usuário" class="buttonAreaUser">
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<mat-toolbar class="toolbarConteudo">
  <mat-toolbar-row>
    <div class="bodyConteudo">
      <h1>{{ title }}</h1>
      <br>
      <p class="pConteudo">{{ description }}</p>
    </div>

    <div class="dinheiro">
      <img src="/assets/img/dinheiros.svg">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
