.space {
  flex: 1 1 auto;
}

.toolbar{
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center center;

}

.buttonAreaUser{
  width: 48px;
  height: 48px;
}


.toolbarConteudo{
  height: 197px;
  background-image: linear-gradient(to right, #f1d183, #5be484);
  padding-left: 25%;
  padding-right: 25%;
  justify-content: center;
}

.bodyConteudo {
  width: 100%;
}

.pConteudo {
  white-space: initial;
}

.toolbarConteudo h1 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.toolbarConteudo p {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #606060;
}

.dinheiro {
  width: 211px;
  height: 189px;
  position: relative;
  top: 88px;
}

.imageMedalha {
  width: 126px;
  height: 126px;
}
