.footer {
  margin-top: 64px;
}

span {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #606060;
  flex: 1 1 auto;
  text-align: center;
}
