.progresso{
    width: 142px;
  height: 19px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}
.fase{
    width: 76px;
  height: 19px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}
.image{
    padding: 5px;
}

.bodyConteudo{
  border: dotted;
  border-color: #36495c;
  padding: 14px;
}
