<div class="bodyConteudo">
  <div class="progresso">
    Progresso do jogo:
  </div>
  <div class="fase">
    Fase {{fase}} de 2
  </div>

  <div class="fase">
    <img class="image" src="/assets/img/done.svg">
    <img class="image" src="/assets/img/inProgress.svg">
  </div>

</div>
