.name {
  width: 104px;
  height: 28px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}

.toolbar{
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center center;

}

.buttonAreaUser{
  width: 48px;
  height: 48px;
}


.toolbarConteudo{
  height: 197px;
  background-image: linear-gradient(to right, #f1d183, #5be484);
  padding-left: 25%;
  padding-right: 25%;
  justify-content: center;
}

.bodyConteudo {
width: 100%;
}

.toolbarConteudo h1 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.toolbarConteudo p {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #606060;
}

.dinheiro {
  width: 211px;
  height: 189px;
  position: relative;
  top: 88px;
}
.breakLineSpan{
  white-space: initial;
}
.subTitle{
  width: 172px;
  height: 57px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}

.money{
  font-size: 32px;
  color: #d69f76;
}

.points{
  font-size: 32px;
  color: #3981c9;
}

.symbol{
  width: 96px;
  height: 49px;
  font-family: Raleway;
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3981c9;
}
.company{
  width: 168px;
  height: 23px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}

.price{
  width: 115px;
  height: 38px;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
  padding-left: 340px;
}
.date{
  font-weight: bold
}
.info{
  width: 528px;
  height: 38px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}
.question{
  width: 528px;
  height: 38px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}
.option{
  height: 38px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  width: 256px;
  background-color: #ff4081;
  border-radius: 4px;
}

.buttonVoltar{
  width: 256px;
  height: 48px;
  border-radius: 4px;
  border: solid 2px #1ec7b9;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1ec7b9;
}


mat-card {
  width: 592px;
}
