<mat-card clas="card">
  <span class="question">{{comentario}}</span>
  <br><br><br>
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile colspan="2" rowspan="1" class="box">
      <button mat-raised-button class="option" routerLink="/fase/2">{{acao1.comentario}} </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" class="box">
      <button mat-raised-button class="option" routerLink="/final">{{acao2.comentario}} </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" class="box">
      <button mat-raised-button class="option">{{acao3.comentario}} </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" class="box">
      <button mat-raised-button class="option">{{acao4.comentario}} </button>
    </mat-grid-tile>
  </mat-grid-list>

  <br><br>
  <mat-card-actions>
    <button mat-raised-button class="buttonVoltar">Voltar</button>
  </mat-card-actions>

</mat-card>
