<app-header [title]="title" [description]="description"></app-header>

<div class="result">
  <mat-grid-list cols="2" rowHeight="275px">
    <mat-grid-tile rowspan="2">
      <img mat-card-image src="/assets/img/vencedor.svg" class="imageVencedor" alt="Vencedor">
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
      <div class="descResult">
        <p>Considerando sua pontuação, imaginamos que você seja:</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
      <div class="cardPerfil">
        <mat-card>
          <div class="perfilImage">
            <img class="imageMedalha" src="/assets/img/arrojadoMedalha.svg">
          </div>
          <div>
            <p class="perfilName">{{perfil}}</p>
            <p class="perfilPontos"><span class="style1">{{pontos}} </span><span class="style2">pontos</span></p>
          </div>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="conteudoPerfil">
  <div class="descricaoPerfil">
    <p class="nomeJogador">{{nomeJogador}},</p><br>
    <p>Um perfil <span style="font-weight: bold;">{{perfil}}</span> {{descriptionPerfil}}</p>

    <br><br>
    <p>Obrigado por ter jogado conosco!</p>

    <br>
    <div class="buttons">
      <button mat-raised-button class="buttonSairJogo">Sair do jogo</button>
      <button mat-raised-button class="buttonJogarNovamente" routerLink="/start"> Jogar novamente </button>
    </div>
  </div>
  <div class="homemDinheiro">
    <img src="/assets/img/homemDinheiro.svg">
  </div>
  <div>

  </div>
</div>
