.result {
  height: 531px;
  background-color: #eef9f9;
  padding-left: 12%;
  padding-right: 12%;
}

.descResult{
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
  width: 451px;
}

mat-card {
  width: 393px;
  height: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfilName {
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
  font-variant-caps: unicase;
}



.perfilPontos {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;

}

.perfilPontos .style1 {
  font-size: 36px;
  font-weight: bold;
  color: #3981c9;
}
.perfilPontos .style2 {
  font-size: 24px;
  font-weight: 600;
}

mat-grid-tile{
  overflow: initial;
}

.cardPerfil {
  position: relative;
  top: -100px;
}

.imageVencedor {
  width: 448px;
  height: 456px;
}
.conteudoPerfil{
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 3%;
}

.descricaoPerfil {
  width: 644px;
  height: 230px;
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}

.descricaoPerfil .nomeJogador{
  font-size: 32px;
  font-weight: bold;
}

.homemDinheiro {
  width: 292px;
  height: 379px;
  display: inline-block;
}

.buttonSairJogo{
  width: 248px;
  height: 48px;
  border: solid 2px #1ec7b9;
  color: #1ec7b9;
  margin-right: 42px;
}

.buttonJogarNovamente{
  width: 248px;
  height: 48px;
  background-color: #1ec7b9;
  color: #ffffff;
}

