<app-header [title]="title" [description]="description"></app-header>

<mat-grid-list cols="4">
  <mat-grid-tile colspan="1" rowspan="2">
    <app-left [nome]="nome" [valor]="valor" [pontuacao]="pontuacao"></app-left>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <app-middle [acao1]="acao1" [acao2]="acao2" [acao3]="acao3" [acao4]="acao4" [comentario]='comentario'></app-middle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <app-right [fase]="fase"></app-right>
  </mat-grid-tile>

</mat-grid-list>
