<div class="dinheiro">
  <img src="/assets/img/menino.svg">
  <br />
  <span class="name"> {{ nome }}</span><br><br>
  <span class="subTitle">Patrimônio:</span><br>
  <span>R$ </span><span class="money"> {{valor}}</span><br><br>
  <span class="subTitle">Sua pontuação é:</span><br>
  <span class="points">{{pontuacao}}</span><span> Pontos</span>

</div>
