.name {
  width: 104px;
  height: 28px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}

.toolbar{
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center center;

}

.buttonAreaUser{
  width: 48px;
  height: 48px;
}


.toolbarConteudo{
  height: 197px;
  background-image: linear-gradient(to right, #f1d183, #5be484);
  padding-left: 25%;
  padding-right: 25%;
  justify-content: center;
}

.bodyConteudo {
width: 100%;
}

.toolbarConteudo h1 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.toolbarConteudo p {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #606060;
}

.dinheiro {
  width: 211px;
  height: 189px;
  position: relative;
  top: -200px;
}
.breakLineSpan{
  white-space: initial;
}
.subTitle{
  width: 172px;
  height: 57px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #36495c;
}

.money{
  font-size: 32px;
  color: #d69f76;
}

.points{
  font-size: 32px;
  color: #3981c9;
}
