.body {
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
}

.iniciar{
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #606060;
  justify-content: center;
}

.inputName{
  width: 75%;
  height: 60px;
  padding-right: 20px;
}

.inputEmail {
  width: 100%;
  height: 60px;
}

.inputIdade{
  width: 20%;
  height: 60px;
}

.buttonIniciar {
  width: 200px;
  height: 48px;
  background-color: #1ec7b9;
  color: #ffffff;
  text-align: center;
}

mat-card-actions {
  text-align: center;
}
