<div class="body">
  <div class="iniciar">
    <br>
    <span>Para iniciar, escolha um personagem:</span>
    <br><br>
  </div>

  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <button mat-button (click)="setSexo('MASCULINO')" [ngStyle]="{'background': backColorMasculino}">
        <img mat-card-image src="/assets/img/masculino.svg" alt="Masculino">
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button (click)="setSexo('FEMININO')" [ngStyle]="{'background': backColorFeminino}">
        <img mat-card-image src="/assets/img/feminino.svg" alt="Feminino">
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <br><br>

  <form>
    <mat-card>
      <p>Características do personagem:</p>
      <mat-form-field appearance="outline" class="inputEmail">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" [formControl]='email'>
      </mat-form-field>

      <mat-form-field appearance="outline" class="inputName">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" [formControl]='nome'>
      </mat-form-field>

      <mat-form-field appearance="outline" class="inputIdade">
        <mat-label>Idade</mat-label>
        <input matInput placeholder="Idade" [formControl]='idade'>
      </mat-form-field>

      <br><br>
      <mat-card-actions>
        <button mat-raised-button class="buttonIniciar" (click)="createJogador()">Iniciar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
