.toolbar{
  height: 197px;
  background-image: linear-gradient(to right, #f1d183, #5be484);
  padding-left: 25%;
  padding-right: 25%;
  justify-content: center;
}

.toolbar h1, p {
  width: 100%;
}

.toolbar h1 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.toolbar p {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #606060;
}

.dinheiro {
  width: 211px;
  height: 189px;
  position: relative;
  top: 88px;
}
